<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/modify.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Modify Group Info</h1>

</div>
      <div class="availableMethods">
        <button class="addPlayer">Add Player</button>
        <button class="updatePlayer">Update Player</button>
        <button class="deletePlayer">Delete Player</button>
      </div>

      <form class="addPlayerForm hide" action="/add" method="POST">
        <input
          type="text"
          class="wpName"
          name="wpName"
          placeholder="WhatsApp Name"
          required
        />
        <input
          type="text"
          class="wpNumber"
          name="wpNumber"
          placeholder="WhatsApp Number"
          required
        />
        <input
          type="text"
          name="cocId"
          class="cocId"
          placeholder="Clash of Clans ID"
          required
        />
        <input
          type="text"
          name="adminAccessValue"
          class="adminAccessValue"
          placeholder="Admin Access Value"
          required
        />
        <button class="addPlayer" type="submit">Add Player</button>
      </form>

      <form class="updatePlayerForm hide" action="/update" method="POST">
        <input
          type="text"
          class="wpName"
          name="wpName"
          placeholder="WhatsApp Name"
        />
        <input
          type="text"
          class="wpNumber"
          name="wpNumber"
          placeholder="WhatsApp Number"
        />
        <input
          type="text"
          class="cocId"
          name="cocId"
          placeholder="Clash of Clans ID"
        />
        <input
          type="text"
          class="adminAccessValue"
          name="adminAccessValue"
          placeholder="Admin Access Value"
          required
        />
        <button class="updatePlayer" type="submit">Update Player</button>
      </form>

      <form class="deletePlayerForm hide" action="/delete" method="POST">
        <input
          type="text"
          class="cocId"
          name="cocId"
          placeholder="Clash of Clans ID to delete"
          required
        />
        <input
          type="text"
          class="adminAccessValue"
          name="adminAccessValue"
          placeholder="Admin Access Value"
          required
        />
        <button class="deletePlayer" type="submit">Delete Player</button>
      </form>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
    </div>
    <button class="homeBtn">
      Back to Home
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-house"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"
        />
      </svg>
    </button>
    <script src="/js/modify.js"></script>
  </body>
</html>
