:root {
  --green: #25d366;
  --bg: #121212;
  --white: #ffffff;
  --red: #ff4d4d;
  --font: "Segoe UI", Roboto, sans-serif;
}

@font-face {
  font-family: "Clash Bold";
  src: url("/fonts/Clash_Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--bg);
  /* background-image: url("/images/847433.jpg");
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  backdrop-filter: blur(0.5px); */
  background-image: url("/images/847433.jpg");
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  backdrop-filter: blur(0.5px);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  height: 100dvh;

}

body::-webkit-scrollbar {
  display: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #1d40a3;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.loader1 {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.snowflake {
  position: fixed;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  filter: blur(1px);
  box-shadow: 0 0 8px white;
}

.hide {
  display: none !important;
}

.home {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  width: 100%;
  gap: 0;
}

.home_coc_logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20dvh;
  width: 100%;
}

.home_coc_logo img {
  width: 65dvw;
}

.clans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50dvh;
  transition: all 3s ease-in-out;
  gap: 1em;
 
}

.clan_div {
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 1em;
  gap: 0.5em;

  background-color: #292a2d;
  background: linear-gradient(to bottom,
      #292a2d,
      #222223);
  width: fit-content;
  margin: 1em;
  transition: 0.5s;

}

.clan_div:nth-child(1) {

  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);

}

.clan_div:nth-child(2) {

  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.clan_div:nth-child(1):hover {
  transform: scale(0.9);
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;

  background: linear-gradient(to bottom,
      #daa520,
      #f4c430,
      #ffdb58,
      #ffec8b,
      #ffecb0);

}

.clan_div:nth-child(2):hover {
  transform: scale(0.9) skew(-1deg, 1deg);
  transform: scale(0.9);
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  background: linear-gradient(to bottom,
      #D44242, #D9BB16);
}

.clan_div p {
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
  width: 80%;

  font-family: "Clash Bold";
}

.clan_div_clanlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.1em;
  height: 3.1em;
}

.home_footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  bottom: 0;
  text-align: center;
  width: 100%;
  flex: 0 0 auto;

  padding: 1em 1.2em 1em 1.2em;

  overflow: hidden;
  box-sizing: border-box;
}

.home_footer form {
  width: 100%;
}

.clan_wp_members {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #25d366 !important;
  padding: 0.2em 0.7em;
  border-radius: 0.3em;
  gap: 0.4em;
}

.clan_wp_members svg {
  fill: #fff;
  width: 0.9em;
  height: 0.9em;
}

.clan_wp_members_count {
  font-size: 0.9em;
}

.clan_div .tag {
  background-color: #000 !important;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }

  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 0 0 auto;

}

.header_main {
  width: 100%;
  background-color: #1a191c;

  background-position: 50% 90%;

  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5em 0.8em 0.5em 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
}

.header_subinfo {
  margin-right: 0.4em;
}

.header .clanlogo {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.6em;
}

.header .coc_logo img {
  width: 4.2em;
  height: 2em;
}

.text-gradient-yellowshade {
  color: #daa520;
  background-image: linear-gradient(45deg,
      #daa520,
      #f4c430,
      #ffdb58,
      #ffec8b,
      #ffecb0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-yellowred {
  color: #D44242;
  background-image: linear-gradient(90deg, #D44242, #D9BB16);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.title {
  display: flex;
  align-items: center;

}

.clan-name {
  font-size: 1.3em;

  background-size: cover;
transform: translateY(-0.2em);
  letter-spacing: 0.5px;
  font-weight: 900;
}

.clan_info {
  display: flex;
  gap: 10px;
  font-size: 0.7em;

}

.cwl_league {
  background-color: #ff5252 !important;
  display: flex;
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  align-items: center;
  padding-left: 2.4em;
  position: relative;
}

.trophies {
  background-color: #f9a825 !important;
  display: flex;
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  align-items: center;
}

.trophies_count,
.members_count,
.cwl_league_name {
  font-size: 0.9em;
}


.trophies img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.3em;
}

.cwl_league img {
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  left: 0;
}

.members {
  display: flex;
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  background-color: #455a64 !important;
  align-items: center;
}

.members svg {
  fill: #fff;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.3em;
}

.tag {
  display: flex;
  align-items: center;
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  background-color: #212121 !important;
  fill: #fff;
}

.tag svg {
  width: 0.8em !important;
  height: 0.8em !important;
}

.tag_value {
  font-size: 0.7em;

  margin-left: 0.2em;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8em;
  overflow: hidden;
  box-sizing: border-box;
}

.group_info {
  border-radius: 0.5em;
  width: 90%;

  min-height: 63dvh;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-top: 2em;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

}

.clan_page {
  margin-bottom: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

@media (min-height: 700px) {
  .group_info {
    margin-top: 2em;
    height: 67dvh;
    min-height: 67dvh;
  }
}

.group_header {
  padding: 0.7em 0.5em;
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wp_name_title,
.coc_name_title {
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  padding: 0.4em;
  text-align: center;
  width: 40%;

  font-family: Clash Bold;
}

.coc_name_title {
  border-bottom: 2px solid #d34835;
}

.placeholder1 {
  visibility: hidden;

  background-color: red;
}

.wp_name_title {
  border-bottom: 2px solid #19bf4a;
}


.list_item {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.group_content {
  width: 100%;
  height: 100%;

  overflow: scroll;
  overflow-x: hidden;
}

.group_content .list_item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.3);
}

.list_item:hover,
.group_content .list_item:nth-child(2n):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.list_item {
  padding: 0.6em;
}

.wp_name,
.coc_name,
.dash {
  font-size: 0.8em;
  color: #fff;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

  box-sizing: border-box;

  scrollbar-width: none;
  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.wp_name::-webkit-scrollbar,
.coc_name::-webkit-scrollbar {
  display: none;
}

.list_item_column1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  justify-content: center;
  flex-wrap: wrap;
}

.list_item_column2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  justify-content: center;
}

.list_item_column3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;

  flex-wrap: wrap;
}

.list_item_number {
  font-weight: 900;
  padding-left: 0.5em;
  width: 20%;
}

.coc_name {
  width: 68%;
}

.th_icon {
  width: 12%;
  padding-top: 0.5em;
}

.wp_number {
  font-size: 0.6em;
  color: #d2d2d2;
  text-align: end;
  width: 100%;
  padding-right: 1.5em;
}

.coc_info {
  width: 100%;
  gap: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bfbfbf;
  font-weight: bold;
}

.coc_xp {
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coc_xp_img {
  width: 0.7em;
  height: 0.7em;
}

.coc_role,
.coc_xp_value {
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title .text-gradient:hover {
  background-position: 0 100%;
  cursor: pointer;
  border-bottom: 1px solid gold;
}

.title .text-gradient:active {
  opacity: 0.8;
}

.coc_logo img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.coc_logo img:active {
  opacity: 0.8;
  cursor: pointer;
}

.cwl_league:hover,
.members:hover,
.trophies:hover,
.tag.tag:hover {
  opacity: 0.9;
}

.cwl_league:active,
.members:active,
.trophies:active,
.tag.tag:active {
  opacity: 0.5;
}


.group_footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #2b7fff;
  padding: 1em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.4em;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  flex: 0 0 auto;
}

.group_footer_left {
  width: 25%;
  cursor: pointer;
}

.group_footer_left:hover {
  opacity: 0.8;
}

.group_footer_left:active {
  opacity: 0.5;
}

.group_footer_left svg {
  width: 2em;
  height: 2em;
  fill: #fff;
  margin-right: 0.4em;
}

.group_info_title {
  width: 50%;

  text-align: center;
}

.wp_member_count {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 25%;
}

.wp_member_count p {
  font-size: 1.6em;
  margin: 0;
}

.wp_member_count svg {
  fill: #fff;
  width: 2em;
  height: 2em;
  margin-right: 0.4em;
}


form {
  display: flex;
  flex-direction: column;

}

input[type="text"] {
  padding: 14px;
  font-size: 0.9em;
  border-radius: 6px;
  border: none;
  text-align: center;
  outline: none;
  background-color: #676360;
  box-shadow: inset 0 1.5px 0 #676360, inset 0px 5px 0px hsl(33, 7%, 25%);
  color: #fff;
}

input[type="text"]::placeholder {
  color: #fff;
  opacity: 1;
}

button {
  margin-top: 10px;
  padding: 14px;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#join-button {
  opacity: 0.9;
  cursor: pointer;
  font-family: "Clash Bold";
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 12px;
  text-align: center;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform .1s linear, -webkit-transform .1s linear;
  font-weight: 700;
  position: relative;
  border-radius: 12px;
  border: 1px solid #000;
  background: linear-gradient(180deg, #d3ebb7, #85c03f 40%, #366c1b);
  font-size: 0.7em;
  line-height: 1.2em;
  box-shadow: 0 0 0 1px #000, 0 0 0 2px #000, 0 4px 0 2px rgba(0, 0, 0, .2);
  text-shadow: 0 -2px #000, 0 0 #000, 0 2px #000, 0 4px #000, -1px -1px #000, 1px -1px #000, 1px 0 #000, -1px 0 #000, 1px 1px #000, -1px 1px #000, 1px 2px #000, -1px 2px #000;
  margin-top: 16px;
  display: block;
  letter-spacing: 0.5px;
}

#join-button:after,
#join-button:before {
  position: absolute;
  content: "";
  z-index: 0;
}

#join-button:before {
  inset: 2px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fc427), to(#58a221));
  background: -webkit-linear-gradient(top, #7fc427, #58a221);
  background: linear-gradient(180deg, #7fc427, #58a221);
  -webkit-box-shadow: inset 0 0 .2143rem .0357rem hsla(0, 0%, 100%, .23);
  box-shadow: inset 0 0 .2143rem .0357rem hsla(0, 0%, 100%, .23);
}

#join-button:after {
  top: .375rem;
  right: .375rem;
  left: .375rem;
  height: 50%;
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0e878), to(rgba(152, 208, 64, .73)));
  background: -webkit-linear-gradient(top, #d0e878, rgba(152, 208, 64, .73));
  background: linear-gradient(180deg, #d0e878, rgba(152, 208, 64, .73));
}

#join-button span {
  position: relative;
  padding: 0 5px;
  z-index: 1;
}

#join-button:active {

  transform: scale(0.7);
}


.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3.2em;
  right: 1.4em;
}



.homeBtn {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  outline: none;
  border: 0;
  font-family: "clash bold";
}


.homeBtn:hover {

  background: linear-gradient(45deg, var(--i), var(--j));
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.homeBtn svg {
  color: #777;
  width: 1.5em;
  height: 1.5em;

}

.homeBtn:hover svg {
  fill: #fff;
}



.inputbox {
  position: relative;
}

.inputbox input {
  width: 100%;
}

.btn-whatsapp-pulse {
  background: #25d366;
  color: white;
  position: fixed;
  bottom: 20px;

  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 0px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  position: absolute;
  right: -0.2em;
  width: 2em;
  height: 2em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  ;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }

  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.btn-whatsapp-pulse-border {
  bottom: 120px;
  right: 20px;
  animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  border: 5px solid #25d366;
  opacity: 0.75;
  animation-name: pulse-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse-border {
  0% {
    padding: 25px;
    opacity: 0.75;
  }

  75% {
    padding: 50px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


button:hover {
  background-color: #1ebe59;
}

.error {
  color: var(--red);
  margin-top: 12px;
  font-size: 0.6rem;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-height:600px) {
  .group_info {
    height: 30dvh;
  }
}

@media (min-width: 768px) {
.clan_div_clanlogo {
  width: 4.5em;
  height: 4.5em;
}
  body {
    background-position: center;
  }

  .home_coc_logo {
    height: 25dvh;
  }

  .home_coc_logo img {
    width: 25dvw;
  }

  .clans {
    flex-direction: row;
    transform: translateY(-5dvh);
    gap:5em;
  }

  .home_footer {
    width: 100%;
  }

  .home_footer form {

    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

  }

  .home_footer .inputbox {
    width: 40%;
  }

  #join-button {
    font-size: 0.9em;
    padding: 14px 20px;
    margin-top: 0;
  }

  .main_container {

    flex-direction: row;
    gap: 4%;
    padding: 4em;

    width: 75%;
  }

  .group_info {
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
    height: 78dvh;
    font-size: 1.1em;

  }

  .group_header {
    font-size: 1.2em;
  }

  .th_icon {
    width: 1.2em;
  }


}